<h5 class="card-title">Sửa sản phẩm</h5>
<a type="button" class="btn btn-primary mt-3 mb-3" href="/admin/products/">Danh sách</a>
<form name="update-form" action="" method="post" enctype="multipart/form-data">

  <div class="mb-3">
    <label for="name" class="form-label">Tên sản phẩm</label>
    <input type="text" class="form-control" id="name" name="name" value="{{product.name}}">
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Đơn giá</label>
    <input type="number" class="form-control" id="price" name="price" value="{{product.price}}">
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Ảnh</label>
    <input type="file" class="form-control" id="image" name="image">
  </div>
  <div class="mb-3">
    <label for="image" class="form-label me-3">Ảnh cũ</label>
    <img src="{{product.image}}" alt="" width="200">
  </div>
  <div class="mb-3">
    <label for="color" class="form-label">Màu sắc</label>
    <input type="text" class="form-control" id="color" name="color" value="{{product.color}}">
  </div>
  <div class="mb-3">
    <label for="color" class="form-label">Loại sản phẩm</label>
    <input type="text" class="form-control" id="type" name="type" value="{{product.type}}" required>
  </div>
  </div>
  <button type="button" class="btn btn-primary update-btn" data-id="{{product._id}}">Lưu</button>

</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('.update-btn').click(function (event) {
      event.preventDefault();
      var productId = $(this).data('id');
      var deleteForm = document.forms['update-form'];
      deleteForm.action = '/admin/products/update/' + productId + '?_method=put';
      deleteForm.submit();

    });
  });
</script>